<style>


</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div>
    <div>ABC</div>
    <div>CO</div>
  </div>
</div>
<!-- Filter Bar -->
<div class="filterbar">
  <div>
    <mat-form-field>
      <mat-label>Selected Year</mat-label>
      <mat-select [formControl]="selected" (selectionChange)="onFilterChange($event.value)">
        <mat-option *ngFor="let filter of filters" [value]="filter.value">
          {{filter.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div style="margin: 150px 20px 20px 30px;">
  <div class="population-details" style="height: 250px;">
    <div style="display: flex; margin: 10px; border: #000 1px solid; height: 90%; width: 50%;">
      <div class="world-population">
        <div style="display: flex; flex-flow: column;">
          <div>World Population</div>
          <div>({{selectedValue}})</div>
          <div class="total-population">{{totalPopulation}}</div>
        </div>
      </div>
      <div class="population-growth" style="width: 60%; height: calc(100% - 20px); padding: 10px;">
        <div>Population Growth</div>
        <div style="margin-top: 20px; height: 200px; width: 100%;" id="chart"></div>
      </div>
    </div>
  </div>
  <div style="font-weight: bold;">Population Growth vs Density Correlation</div>
  <div id="my_dataviz"></div>
</div>

<router-outlet></router-outlet>
